
/* THE PRODUCT */

#product {
    margin-top: 100px;
}

#product_bigtitle {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

.product_blue {
    color: var(--accent-color);
}

#product_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 80px;
    gap: 50px;
}

#product_view {
    width: 35vw;
    height: 500px;

    position: relative;
}

#product_view img {
    width: 100%;
    height: 100%;
    
    object-fit: contain;

    position: absolute;
    top: 0;
    left: 0;
}

#product_desc {
    position: relative;

    width: 45vw;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#product_desc_selector {
    position: absolute;
    top: 20px;

    background-color: #333333;
    border: none;
    border-radius: 30px;

    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.product_desc_selector_label {
    padding-left: 20px;
    padding-right: 20px;

    height: 100%;

    color: #aaaaaa;
    font-family: 'Geist Mono', 'IBM Plex Mono', sans-serif;
    font-size: 20px;

    border-radius: 30px;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;

    z-index: 2;
}

.product_desc_selector_label:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.product_desc_selector_label.active {
    color: white;
}

#product_desc_selector svg {
    width: 30px;
    height: 30px;

    margin-top: 0;
    margin-bottom: 0;

    z-index: 2;

    fill: #aaaaaa;
}

#product_desc_selector svg.active {
    fill: white;
}

#product_desc_selector_bg {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    
    width: 300px;
    height: 100%;

    border: none;
    border-radius: 30px;

    background-color: var(--accent-color);

    pointer-events: none;

    z-index: 0;

    transition: width 0.2s ease;
}

#product_desc_text {
    font-size: 24px;
    margin-left: 80px;
    margin-right: 80px;
    
    position: absolute;
    top: 80px;
}

#adaptable_title {
    color: var(--accent-color);
    font-size: 60px;
    height: 24px;

    text-align: left;
}

#adaptable_desc {
    font-size: 30px;

    text-align: left;
}