/* MAIN */

:root {
    --main-color: white;
    --bg-color: #111111;
    --accent-color: #20719b;
}

body {
    margin: 0px;
    padding: 0px;

    background: var(--bg-color);
    color: var(--main-color);

    font-family: 'Manrope', 'IBM Plex Mono', sans-serif;
    text-align: center;

    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px; /* Width of vertical scrollbar */
    height: 12px; /* Height of horizontal scrollbar */
}

body::-webkit-scrollbar-track {
    background: #333333; /* Background of the scrollbar track */
    border-radius: 6px;
  }
  
body::-webkit-scrollbar-thumb {
    background: #555555; /* Scrollbar thumb (handle) */
    border-radius: 3px;
    border: 2px solid #555555; /* Padding around the thumb */
}
  
body::-webkit-scrollbar-thumb:hover {
    background: #777777; /* Thumb color on hover */
    border: 2px solid #777777; /* Padding around the thumb */
}

button {
    cursor: pointer;
}

/* NAVBAR */

#navbar {
    position: fixed;
    width: 100vw;
    height: 50px;

    background-color: #171717;
    border-bottom: 1px solid var(--accent-color);

    z-index: 10;

    margin: none;
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    top: 0px;
    left: 0px;

    transition: transform 0.15s;
}

#navbar.hidden {
    transform: translateY(-100%);
    transition: transform 0.15s;
}

#navbar::before {
    content: '';

    position: absolute;
    left: 0px;
    bottom: 0px;

    width: 100vw;
    height: 5px;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--accent-color));
}

#navbar_logo {
    padding-top: 0px;
    height: 60px;

    margin-right: 100px;

    cursor: pointer;
}

.navbar_link {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.navbar_link:hover {
    color: var(--accent-color);
    filter: brightness(1.5) drop-shadow(0 0 2px currentColor);
    cursor: pointer;
}

.navbar_link.active {
    color: var(--accent-color);
    filter: brightness(1.5) drop-shadow(0 0 2px currentColor);
    cursor: pointer;
}

#navbar_contact {
    width: 200px;
    height: 100%;
    
    margin-left: 100px;

    border: none;
    border-radius: 5px;

    background-color: var(--accent-color);

    font-family: 'Geist Mono', 'IBM Plex Mono', sans-serif;
    font-size: 20px;
    color: white;
}

/* HEADER */

#header {
    margin: 0px;
    padding: 0px;

    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    background-color: white;

    border-bottom: 2px solid var(--accent-color);

    z-index: 3;

    position: relative;
}

#header::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;

    background: black;
    transform-origin: top left;
    clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%); /* Fine-tune the slant */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 5;
}

#header_text {
    text-align: left;
    margin-left: 10vw;

    margin-bottom: 5vh;

    z-index: 6;
}

#header_title {
    font-size: 120px;
    font-weight: 400;
    color: var(--accent-color);

    margin-bottom: 0px;
}

#header_subtitle {
    font-size: 30px;
    width: 40vw;
    
    margin-top: 20px;
}

#header_img {
    width: 50vw;
    height: 90vh;

    position: absolute;
    top: 0px;
    right: 0px;

    z-index: 4;
}

/* FOOTER */

#footer {
    width: 100vw;
    height: 200px;

    background-color: #1b1b1b;

    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    display: flex;
    align-items: center;

    position: relative;
}

#footer_img {
    margin-left: 20px;
    height: 160px;
}

#footer_text {
    height: 160px;
    text-align: left;
    margin-left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer_name {
    font-size: 40px;
    color: var(--accent-color);
    filter: brightness(1.5) drop-shadow(0 0 2px currentColor);
    margin: 0px;
    line-height: 45px;
}

#footer_slogan {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 0px;
}

#footer_copyright {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    color: gray;
}

#footer_buttons {
    margin-left: auto;
    margin-right: 40px;
    height: 160px;

    right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 15px;
}

#footer_buttons button {
    width: 260px;
    height: 60px;

    border: none;
    border-radius: 10px;

    background-color: var(--accent-color);

    font-family: 'Manrope', 'IBM Plex Mono', sans-serif;
    font-size: 26px;
    color: white;
}