
/* SOTERIA'S STORY */

#story_title {
    margin-top: 100px;
    font-size: 40px;

    margin-bottom: 0px;
}

#story_stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 100px;
}

.story_stat {
    width: 300px;
}

.story_stat_value {
    color: var(--accent-color);
    font-size: 90px;
}

#story_impactful_point {
    font-size: 60px;
    color: var(--accent-color);
    margin-top: 60px;
    margin-bottom: 0px;
}

#story_impactful_point_underline {
    width: 800px;
    height: 5px;
    border: none;
    background-color: var(--accent-color);
    margin-top: 20px;
}

#story_desc {
    font-size: 30px;

    margin-top: 100px;
    margin-left: 10vw;
    margin-right: 10vw;
}

#story_finalimpact {
    font-size: 60px;
    margin-bottom: 200px;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}