/* LANDING */

#landing {
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url("../images/ekansh.jpg");

    border-bottom: 2px solid var(--accent-color);
}

#landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 90vh;

    background-color: rgba(0, 0, 0, 0.7);
}

#landing_logo {
    margin-top: 10vh;
    height: 40vh;

    z-index: 2;

    filter: brightness(1.5);
}

#landing_title {
    font-size: 80px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;

    z-index: 2;
}

#landing_subtitle {
    font-size: 40px;
    font-style: italic;
    margin-top: 10px;
    color: var(--accent-color);

    filter: brightness(1.5);

    z-index: 2;
}

/* OVERVIEW */

#overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}

#overview_smalltitle {
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    color: gray;
}

#overview_bigtitle {
    font-size: 60px;
    font-weight: normal;
    color: white;

    margin-top: -30px;
}

#overview_underline {
    margin-top: -50px;
    margin-bottom: 50px;

    width: 700px;
    height: 2px;

    color: var(--accent-color);
    background-color: var(--accent-color);
}

#overview_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 100px;

    position: relative;
}

.overview_iconwrapper {
    width: 80px;
    height: 80px;

    border-radius: 15px;
    border: none;

    background-color: #282828;

    position: relative;

    box-shadow: 
    inset 5px 5px 10px rgba(0, 0, 0, 0.3),  /* Darker shadow for depth */
    inset 0 -5px 10px rgba(0, 0, 0, 0.5); /* Highlight for light source */
}

#overview_icons_dottedline {
    height: 0;
    width: 100%;

    position: absolute;
    top: 50%;

    border-top: 3px dashed var(--accent-color);

    z-index: -1;
}

.overview_iconwrapper svg {
    width: 50px;
    height: 50px;

    fill: var(--accent-color);

    position: absolute;
    top: 15px;
    left: 15px;
}

#overview_icon2 svg {
    transform: translate(2px,-3px);
}

#overview_icon3 svg {
    transform: translate(0px,3px);
}

#overview_icon4 svg {
    transform: translate(0px,-2px);
}

#overview_icons_action {
    background-color: var(--accent-color);
}

#overview_icons_action svg {
    fill: white;
}

#overview_features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 90vw;
    gap: 40px;

    margin-top: 80px;
    margin-bottom: 100px;

    flex-wrap: wrap;
}

.overview_feature {
    position: relative;

    width: 300px;
    height: 350px;

    outline: 2px solid var(--accent-color);
    outline-offset: 5px;
    border-top: 2px solid var(--accent-color);
}

.overview_feature_highlight {
    outline: 2px solid white;
    border-top: 2px solid white;

    background-color: var(--accent-color);
    color: white;
}

.overview_feature_highlight .overview_feature_title {
    color: white;
}

.overview_feature_title {
    position: absolute;
    top: 20px;
    width: 100%;

    margin: 0;

    color: var(--accent-color);
    font-weight: bold;
    font-size: 28px;
}

.overview_feature_desc {
    position: absolute;
    top: 60px;

    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;

    font-size: 22px;
}

