/* PRICING */

#pricing_plans {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 150px;
}

#pricing_title {
    font-size: 60px;
    margin-bottom: 30px;
}

.pricing_plan {
    width: 300px;
}

.pricing_name {
    font-size: 40px;

    display: flex;
    vertical-align: middle;
    justify-content: center;
    
    text-shadow: 0 0 2px currentColor, 0 0 4px currentColor;
}

.pricing_name svg {
    height: 56px;
    width: 56px;

    margin-right: 20px;

    filter: drop-shadow(0 0 2px currentColor);
}

.pricing_start {
    font-size: 20px;
    color: gray;
}

.pricing_price {
    margin-top: -20px;
}

.pricing_value {
    font-size: 60px;
    font-weight: bold;
    color: var(--accent-color);
}

.pricing_target {
    font-size: 20px;
    color: white;

    margin-top: 40px;
    margin-bottom: 40px;

    text-decoration: underline;
    text-underline-offset: 10px;
}

.pricing_feature {
    font-size: 18px;
    width: 350px;

    text-align: left;

    margin-top: 0px;
    margin-bottom: 8px;
}

.pricing_feature svg {
    height: 24px;
    width: 24px;

    transform: translateY(6px);
    margin-right: 10px;
}

.pricing_notinc {
    color: #555555;
}

/* CONTACT US */

#contact {
    margin-left: calc((100vw - 600px)/2);
    width: 600px;
    height: 60vh;
    
    margin-top: 10px;
    margin-bottom: 200px;

    border: none;
    border-radius: 50px;
}

#contact_title {
    font-size: 60px;
    margin-bottom: 0px;
}

#contact_subtitle {
    font-size: 30px;
    color: var(--accent-color);

    margin-top: 0px;

    margin-bottom: 50px;
}

input:focus {
    outline: none;
    border-color: white !important;
}

textarea:focus {
    outline: none;
    border-color: white !important;
}

#contact_subj {
    width: calc(100% - 20px);
    height: 50px;

    border: 1px solid gray;
    border-radius: 10px;

    background-color: #202020;

    font-family: 'Geist Mono', 'IBM Plex Mono', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#contact_main {
    margin-top: 10px;
    width: calc(100% - 20px);
    height: 250px;

    border: 1px solid gray;
    border-radius: 10px;

    background-color: #202020;

    font-family: 'Geist Mono', 'IBM Plex Mono', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: white;

    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
}

#contact_send {
    margin-top: 20px;
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 10px;

    background-color: var(--accent-color);

    font-family: 'Geist Mono', 'IBM Plex Mono', sans-serif;
    font-size: 24px;
    color: white;
}