/* HEADER */

#header {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 80px;
}

#header_title {
    font-size: 22px;
    text-align: left;

    font-style: italic;
}

.header_accent {
    color: var(--accent-color);
    text-shadow: 0 0 2px currentColor, 0 0 4px currentColor;
    font-size: 60px;

    font-style: normal;
}

#header_underline {
    margin-top: -20px;
    width: 100%;
    height: 6px;

    color: var(--accent-color);
    background-color: var(--accent-color);

    box-shadow: 0 0 2px currentColor, 0 0 4px currentColor;
}

/* OVERVIEW */

#overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overview_smalltitle {
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    color: gray;
}

#overview_bigtitle {
    font-size: 60px;
    font-weight: normal;
    color: white;

    margin-top: -30px;
}

#overview_underline {
    margin-top: -50px;
    margin-bottom: 50px;

    width: 700px;
    height: 2px;

    color: var(--accent-color);
    background-color: var(--accent-color);
}

#overview_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 100px;

    position: relative;
}

.overview_iconwrapper {
    width: 80px;
    height: 80px;

    border-radius: 15px;
    border: none;

    background-color: #282828;

    position: relative;

    box-shadow: 
    inset 5px 5px 10px rgba(0, 0, 0, 0.3),  /* Darker shadow for depth */
    inset 0px -5px 10px rgba(0, 0, 0, 0.5); /* Highlight for light source */
}

#overview_icons_dottedline {
    height: 0px;
    width: 100%;

    position: absolute;
    top: 50%;

    border-top: 3px dashed var(--accent-color);

    z-index: -1;
}

.overview_iconwrapper svg {
    width: 50px;
    height: 50px;

    fill: var(--accent-color);

    position: absolute;
    top: 15px;
    left: 15px;
}

#overview_icon2 svg {
    transform: translate(2px,-3px);
}

#overview_icon3 svg {
    transform: translate(0px,3px);
}

#overview_icon4 svg {
    transform: translate(0px,-2px);
}

#overview_icons_action {
    background-color: var(--accent-color);
}

#overview_icons_action svg {
    fill: white;
}

#overview_features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 90vw;
    gap: 40px;

    margin-top: 80px;
    margin-bottom: 100px;
}

.overview_feature {
    position: relative;

    width: 100%;
    height: 30vh;

    outline: 2px solid var(--accent-color);
    outline-offset: 5px;
    border-top: 2px solid var(--accent-color);
}

.overview_feature_highlight {
    outline: 2px solid white;
    border-top: 2px solid white;

    background-color: var(--accent-color);
    color: white;
}

.overview_feature_highlight .overview_feature_title {
    color: white;
}

.overview_feature_title {
    position: absolute;
    top: 20px;
    width: 100%;

    margin: 0px;

    color: var(--accent-color);
    font-weight: bold;
    font-size: 28px;
}

.overview_feature_desc {
    position: absolute;
    top: 60px;

    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

/* SEPARATOR */

.section_separator {
    width: 90vw;

    height: 1px;
    border: none;

    background: linear-gradient(to right, black 0%, white 20%, white 80%, black 100%);
}

/* THE PRODUCT */

#product {
    margin-top: 0px;
}

#product_bigtitle {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

.product_blue {
    color: var(--accent-color);
}

#product_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 80px;
    gap: 50px;
}

#product_view {
    width: 35vw;
    height: 500px;

    position: relative;
}

#product_view img {
    width: 100%;
    height: 100%;
    
    object-fit: contain;

    position: absolute;
    top: 0px;
    left: 0px;
}

#product_desc {
    position: relative;

    width: 45vw;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#product_desc_selector {
    position: absolute;
    top: 20px;

    background-color: #333333;
    border: none;
    border-radius: 30px;

    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.product_desc_selector_label {
    padding-left: 20px;
    padding-right: 20px;

    height: 100%;

    color: #aaaaaa;
    font-family: 'Geist Mono', 'IBM Plex Mono', sans-serif;
    font-size: 20px;

    border-radius: 30px;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;

    z-index: 2;
}

.product_desc_selector_label:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.product_desc_selector_label.active {
    color: white;
}

#product_desc_selector svg {
    width: 30px;
    height: 30px;

    margin-top: 0px;
    margin-bottom: 0px;

    z-index: 2;

    fill: #aaaaaa;
}

#product_desc_selector svg.active {
    fill: white;
}

#product_desc_selector_bg {
    content: '';

    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 300px;
    height: 100%;

    border: none;
    border-radius: 30px;

    background-color: var(--accent-color);

    pointer-events: none;

    z-index: 0;

    transition: width 0.2s ease;
}

#product_desc_text {
    font-size: 24px;
    margin-left: 80px;
    margin-right: 80px;
    
    position: absolute;
    top: 80px;
}

#adaptable_title {
    color: var(--accent-color);
    font-size: 60px;
    height: 24px;

    text-align: left;
}

#adaptable_desc {
    font-size: 30px;

    text-align: left;
}

/* SOTERIA'S STORY */

#story_title {
    margin-top: 150px;
    font-size: 40px;

    margin-bottom: 0px;
}

#story_stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 100px;
}

.story_stat {
    width: 300px;
}

.story_stat_value {
    color: var(--accent-color);
    font-size: 90px;
}

#story_impactful_point {
    font-size: 60px;
    color: var(--accent-color);
    margin-top: 60px;
    margin-bottom: 0px;
}

#story_impactful_point_underline {
    width: 800px;
    height: 5px;
    border: none;
    background-color: var(--accent-color);
    margin-top: 20px;
}

#story_desc {
    font-size: 30px;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.accent {
    color: var(--accent-color);
    text-shadow: 0 0 2px currentColor, 0 0 4px currentColor;
}

/* THE TEAM */

#team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team_title {
    font-size: 60px;
    font-weight: bold;
}

#team_title_leftbracket {
    color: var(--accent-color);

    margin-right: 50px;
}

#team_title_rightbracket {
    color: var(--accent-color);

    margin-left: 50px;
}

#team_subtitle {
    width: 50vw;
    font-size: 28px;

    margin-top: 0px;
    margin-bottom: 100px;
}

.team_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 50px;

    margin-bottom: 50px;

    flex-wrap: wrap;
}

.team_member {
    width: 400px;
    height: 460px;

    background-color: #171717;
    border-radius: 25px;

    position: relative;

    --gradient-border-width: 2px;
}

.team_member::before {
    content: '';

    position: absolute;
    width: calc(100%+2*var(--gradient-border-width));
    height: calc(100%+2*var(--gradient-border-width));

    top: calc(-1*var(--gradient-border-width));
    left: calc(-1*var(--gradient-border-width));
    right: calc(-1*var(--gradient-border-width));
    bottom: calc(-1*var(--gradient-border-width));
    
    z-index: -1;
    
    border-radius: 25px;
}

.team_member_name {
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 28px;
    margin-top: 0px;

    filter: brightness(1.4);
    text-align: left;
}

.team_member_role {
    font-style: italic;
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 16px;
    margin-top: 0px;

    filter: brightness(1.4);
    text-align: left;
}

.team_member_pic {
    width: 80px;
    height: 80px;

    border: none;
    border-radius: 15px;

    border: 3px solid;

    position: absolute;
    top: 20px;
    right: 20px;
}

.team_member_bio {
    position: absolute;

    top: 130px;
    left: 30px;
    right: 30px;
    
    font-size: 18px;

    margin-top: 0px;
    text-align: center;

    filter: brightness(1.75);
    text-align: left;
}

#tm_nathan {
    color: darkred;
}

#tm_nathan::before {
    background: conic-gradient(#00000000 0deg, #00000000 90deg, darkred 135deg, #00000000 180deg,
    #00000000 270deg, darkred 315deg, #00000000 360deg);
}

#tm_omkar {
    color: #2E6F40;
}

#tm_omkar::before {
    background: conic-gradient(#00000000 0deg, #00000000 90deg, #2E6F40 135deg, #00000000 180deg,
    #00000000 270deg, #2E6F40 315deg, #00000000 360deg);
}

#tm_ekansh {
    color: #0076CE;
}

#tm_ekansh::before {
    background: conic-gradient(#00000000 0deg, #00000000 90deg, #0076CE 135deg, #00000000 180deg,
    #00000000 270deg, #0076CE 315deg, #00000000 360deg);
}

#tm_aryan {
    color: #e06c9f;
}

#tm_aryan::before {
    background: conic-gradient(#00000000 0deg, #00000000 90deg, #e06c9f 135deg, #00000000 180deg,
    #00000000 270deg, #e06c9f 315deg, #00000000 360deg);
}

#tm_william {
    color: #ff3333;
}

#tm_william::before {
    background: conic-gradient(#00000000 0deg, #00000000 90deg, #ff3333 135deg, #00000000 180deg,
    #00000000 270deg, #ff3333 315deg, #00000000 360deg);
}